<section class="text-gray-400 bg-blancoroto body-font">
  <div class="container px-5 py-24 mx-auto">
    
    <!-- Anuncio de Descuentos -->
    <div class="bg-yellow-300 p-8 rounded-lg shadow-lg text-center">
      <h1 class="text-4xl md:text-6xl font-extrabold text-gray-900">
        ¡Grandes Ofertas Hoy Solo Para Ti!
      </h1>
      <p class="mt-4 text-lg md:text-xl text-gray-700">
        Aprovecha descuentos de hasta el 20% en tus productos favoritos.
      </p>
      <button class="mt-6 px-6 py-3 bg-red-500 hover:bg-red-700 text-white font-bold rounded-lg transition duration-300 ease-in-out">
        ¡Compra Ahora!
      </button>
    </div>
    <br><br>

    <!-- Carrusel de Productos con Descuento -->
    <div class="bg-gray-100 p-8 rounded-lg shadow-lg">
      <h2 class="text-3xl font-bold text-gray-900 text-center mb-6">Productos Destacados con Descuento</h2>
      
      <div class="relative">
        <!-- Carrusel de Productos -->
        <div class="flex overflow-x-auto space-x-4">
          <!-- Iterar sobre los productos con descuento -->
          <div *ngFor="let producto of productosConDescuento" class="flex-shrink-0 w-64 p-4 bg-white border border-gray-300 rounded-lg shadow-md flex flex-col">
            <a class="block relative h-48 rounded overflow-hidden">
              <!-- Imagen del Producto -->
              <img alt="{{ producto.nombre_prod }}" class="object-contain object-center w-full h-full" [src]="producto.pro_url">
            </a>
            <div class="mt-4 text-center">
              <h3 class="text-lg font-semibold text-gray-900">{{ producto.nombre_prod }}</h3>
              <p class="text-sm text-gray-600">{{ producto.descripcion_prod }}</p>
              <div class="mt-2 flex justify-center items-center">
                <!-- Precio Original con Descuento -->
                <span class="text-lg font-bold text-red-500">{{ producto.precio_prod | currency }}</span>
                <span class="ml-2 text-sm text-gray-500 line-through">{{ (producto.precio_prod * (1 + producto.ofertas.porcentaje_descuento / 100)) | currency }}</span>
              </div>
              <!-- Descuento en verde -->
              <div *ngIf="producto.ofertas.estado === 'Activo'" class="mt-2 text-xl font-semibold text-green-500">
                ¡{{ producto.ofertas.porcentaje_descuento }}% DE DESCUENTO!!
              </div>
            </div>
            <!-- Botón Añadir al Carrito alineado al final -->
            <div class="mt-auto">
              <button class="px-6 py-3 bg-green-500 hover:bg-green-700 text-white font-bold rounded-lg transition duration-300 ease-in-out w-full">
                Añadir al Carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
